{% block content %}
<h1> Cumul mensuel pour {{ obj.month_name }} {{ obj.year }}</h1>
<table class="styled">
    <thead>
        <tr>
            <th>Contrat</th>
            <th>Total</th>
            <th>Indemnité Entretien</th>
            <th>Repas</th>
            <th>Goûter</th>
            <th>Total - (IE + Repas + Goûter)</th>
        </tr>
    </thead>
    <tbody>
    {% for i in month %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.transfert }} €</td>
            <td>{{ i.IE_cost }} €</td>
            <td>{{ i.meal_cost }} €</td>
            <td>{{ i.snack_cost }} €</td>
            <td>{{ i.transfert_wo_ie_meal_snack }} €</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<table class="styled">
    <thead>
        <tr>
            <th>Charges MAM</th>
            <th>Total</th>
            <th>Indemnité Entretien</th>
            <th>Repas</th>
            <th>Goûter</th>
            <th>Reste à charge</th>
            <th>Salaire assmat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ obj.mam }} €</td>
            <td>{{ obj.total }} €</td>
            <td>{{ obj.IE_cost }} €</td>
            <td>{{ obj.meal_cost }} €</td>
            <td>{{ obj.snack_cost }} €</td>
            <td>{{ obj.remaining_costs }} €</td>
            <td>{{ obj.assmat_salary }} €</td>
        </tr>
    </tbody>
</table>
{% endblock %}