{% block list %}
<h1>Cumuls mensuels:</h1>
{% if perms.salaire.add_summary %}
    <a href="{% url 'summary_create' %}" style="font-weight: bold;">[créer]</a>
{% endif %}   
<br><br>
<ul>
    {% for i in obj %}
        <li>
            {{ i.month_name }} {{ i.year }}
            {% if perms.salaire.view_summary %}
               - <a href="{% url 'summary_detail' i.id %}">[détail]</a>
           {% endif %}
           {% if perms.salaire.change_summary %}
               - <a href="{% url 'summary_update' i.id %}">[modifier]</a>
           {% endif %}
           {% if perms.salaire.delete_summary %}
               - <a href="{% url 'summary_delete' i.id %}">[supprimer]</a>
           {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}