{% block list %}
<h1>Contrats:</h1>
    {% if perms.salaire.add_contract %}
        <a href="{% url 'contract_create' %}" style="font-weight: bold;">[créer]</a>
    {% endif %}
<br><br>
<ul>
    {% for i in obj %}
        <li>
            {{ i.name }}
            {% if perms.salaire.view_contract %}
                - <a href="{% url 'contract_detail' i.id %}">[détail]</a>
            {% endif %}
            {% if perms.salaire.change_contract %}
                - <a href="{% url 'contract_update' i.id %}">[modifier]</a>
            {% endif %}
            {% if perms.salaire.delete_contract %}
                - <a href="{% url 'contract_delete' i.id %}">[supprimer]</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}