{% block list %}
<h1>Tarifications horaires:</h1>
{% if perms.salaire.add_pricing %}
    <a href="{% url 'pricing_create' %}" style="font-weight: bold;">[créer]</a>
    {% endif %}    
 <br><br>
<ul>
    {% for i in obj %}
        <li>
            {{ i.name }}
            {% if perms.salaire.view_pricing %}
               - <a href="{% url 'pricing_detail' i.id %}">[détail]</a>
           {% endif %}
           {% if perms.salaire.change_pricing %}
               - <a href="{% url 'pricing_update' i.id %}">[modifier]</a>
           {% endif %}
           {% if perms.salaire.delete_pricing %}
               - <a href="{% url 'pricing_delete' i.id %}">[supprimer]</a>
           {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}