{% block content %}
<h1>Création</h1>
<form id="form" action="" method="post" novalidate>
{% csrf_token %}
<ul>
    <span>Nom : {{ obj.name }} </span>
    {{ obj.name.errors }} 
    <br><br>
    <span>Mois : {{ obj.month }} </span>
    {{ obj.month.errors }} 
    <br><br>
    <span>Année : {{ obj.year }} </span>
    {{ obj.year.errors }}  
    <br><br>
    <span>Coût de référence: {{ obj.cost}} </span>
    {{ obj.cost.errors }}
    <br><br>
  </ul>
<button type="submit">Soumettre</button>
</form>
{% endblock %}