{% load static %}
{% block content %}
<header>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <meta charset="UTF-8">
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'box.js' %}"></script>
-->
</header>
<main>
    <table>
        <tbody>
            <td>
                <h1>Fiche d'informations du salaire mensuel </h1>
                <em>* En aucun cas ce document ne pourra faire office de fiche de paie</em>
            </td>
            <td>
                <img src="{% static 'logo.jpg' %}" alt="Image" height="170px" width="170px">
            </td>
        </tbody>
    </table>    
    <h1>{{ obj.name }} pour le mois de {{ obj.month_name }} {{ obj.year }}</h1>
    <div class="box" id="box1">
        <table class="styled">
            <caption><h3>Contrat</h3></caption>
            <tbody>
                <tr>
                    <td>Taux horaire de base</td>
                    <td>{{ pricing.gross_time_rate }} €</td>
                </tr>
                <tr>
                    <td>Nombre d'heures par semaine</td>
                    <td>{{ contract.week_hours }}</td>
                </tr>
                <tr>
                    <td>Nombre de semaines</td>
                    <td>{{ contract.weeks_number }}</td>
                </tr>
                <tr>
                    <td>Nombre de mois</td>
                    <td>{{ contract.months_number }}</td>
                </tr>
                <tr>
                    <td><strong>Nombre d'heures normales</strong></td>
                    <td><strong>{{ contract.week_hours_norms }}</strong></td>
                </tr>
                <tr>
                    <td><strong>Nombre de jours d'activité</strong></td>
                    <td><strong>{{ contract.days_activity_number }}</strong></td>
                </tr>
                <tr>
                    <td><strong>Nombre de congés payés</strong></td>
                    <td><strong>{{ contract.paid_vacation_number }}</strong></td>
                </tr>
                <tr>
                    <td>Salaire brut de base</td>
                    <td>{{ obj.gross_base_salary }} €</td>
                </tr>
                <tr>
                    <td>Nombre d'heures supplémentaires / mois</td>
                    <td>{{ contract.supp_hours_number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box" id="box2">
        <table class="styled">
            <caption><h3>Détails Accueil  / Repas / Goûters </h3></caption>
            <thead>
                <th>Jour</th>
                <th>date</th>
                <th>Heures supplémentaires</th>
                <th>Indemnité Entretien</th>
                <th>Repas</th>
                <th>Goûter</th>
            </thead>
            <tbody>
                {% for day in days %}
                <tr>
                    <td>{{ day.day_name }}</td>
                    <td>{{ day.day }}</td>
                    <td>{{ day.supp_hours_number }}</td>
                    <td><input type="checkbox" {% if  day.ie %}checked{% endif %} disabled></td>
                    <td><input type="checkbox" {% if  day.meal %}checked{% endif %} disabled></td>
                    <td><input type="checkbox" {% if  day.snack %}checked{% endif %} disabled></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>   
    <div class="box" id="box3">
        <table  class="styled">
            <caption><h3>Accueil  / Repas / Goûters</h3></caption>
            <thead>
                <script src="{% static 'script.js' %}"></script>    <th></th>
                <th>unité</th>
                <th>Nombre</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr>
                    <td>Heures complémentaires (<={{pricing.base_hours }} h)</td>
                    <td>{{ pricing.additional_hours_cost }} €</td>
                    <td>{{ obj.additional_hours_number }}</td>
                    <td>{{ obj.additional_hours_cost }} €</td>
                </tr>
                <tr>
                    <td>Heures majorées (>{{pricing.base_hours }} h)</td>
                    <td>{{ pricing.bonus_hours_cost }} €</td>
                    <td>{{ obj.bonus_hours_number }}</td>
                    <td>{{ obj.bonus_hours_cost }} €</td>
                </tr>
                <tr>
                    <td>Indemnité Entretien</td>
                    <td>{{ cost.IE }} €</td>
                    <td>{{ obj.IE_number }}</td>
                    <td>{{ obj.IE_cost }} €</td>
                </tr>
                <tr>
                    <td>Repas </td>
                    <td>{{ cost.meal }} €</td>
                    <td>{{ obj.meal_number }}</td>
                    <td>{{ obj.meal_cost }} €</td>
                </tr>
                <tr>
                    <td>Goûters </td>
                    <td>{{ cost.snack }} €</td>
                    <td>{{ obj.snack_number }}</td>
                    <td>{{ obj.snack_cost }} €</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box" id="box4">
        <table  class="styled">
            <caption><h3>Salaire</h3></caption>
            <thead>
                <th></th>
                <th>Taux</th>
                <th>référence</th>
                <th>Coût</th>
            </thead>
            <tbody>
                <tr>
                    <td>Salaire de base</td>
                    <td>{{ cost.div }}</td>
                    <td>{{ obj.gross_base_salary }} €</td>
                    <td>{{ obj.base_salary }} €</td>
                </tr>
                <tr>
                    <td>Congés payés</td>
                    <td>{{ cost.paid_leave }} %</td>
                    <td>{{ obj.base_salary }} €</td>
                    <td>{{ obj.paid_leave_cost }} €</td>
                </tr>
                <tr>
                    <td>Congés payés supplémentaire <br>(uniquement en {{cost.paid_leave_supp_frac_month_name}}) </td>
                    <td>{{ cost.paid_leave_supp_frac }} %</td>
                    <td>{{ obj.paid_leave_supp }} €</td>
                    <td>{{ obj.paid_leave_supp_cost }} €</td>
                </tr>
            </tbody>
        </table>
        <br>
        <span>Salaire brut : {{ obj.gross_salary }} €</span>
    </div>
    <div class="box" id="box5">
        <table  class="styled">
            <caption><h3>Cotisations salariales</h3></caption>
            <thead>
                <th>Cotisation</th>
                <th>Taux</th>
                <th>Base</th>
                <th>Coût</th>
            </thead>
            <tbody>
                <tr>
                    <td>CSG + RDS</td>
                    <td>{{ cost.csg_rds }} %</td>
                    <td>{{obj.gross_salary_cost_frac_factor}} €</td>
                    <td>{{ obj.csg_rds_cost }} €</td>
                </tr>
                <tr>
                    <td>CSG déductibble</td>
                    <td>{{ cost.csg_ded }} %</td>
                    <td>{{obj.gross_salary_cost_frac_factor}} €</td>
                    <td>{{ obj.csg_ded_cost }} €</td>
                </tr>
                <tr>
                    <td>Vieillesse</td>
                    <td>{{ cost.old1 }} %</td>
                    <td>{{ obj.gross_salary }} €</td>
                    <td>{{ obj.old1_cost }} €</td>
                </tr>
                <tr>
                    <td>Vieillesse</td>
                    <td>{{ cost.old2 }} %</td>
                    <td>{{ obj.gross_salary }} €</td>
                    <td>{{ obj.old2_cost }} €</td>
                </tr>
                <tr>
                    <td>AGFF</td>
                    <td>{{ cost.agff }} %</td>
                    <td>{{ obj.gross_salary }} €</td>
                    <td>{{ obj.agff_cost }} €</td>
                </tr>
                <tr>
                    <td>Retraite complémentaire </td>
                    <td>{{cost.supplementary_pension }} %</td>
                    <td>{{ obj.gross_salary }} €</td>
                    <td>{{ obj.supplementary_pension_cost }} €</td>
                </tr>
                <tr>
                    <td>Prévoyance </td>
                    <td>{{cost.personal_protection }} %</td>
                    <td>{{ obj.gross_salary }} €</td>
                    <td>{{ obj.personal_protection_cost }} €</td>
                </tr>
            </tbody>
        </table>
        <br>
        <span>Cotisations salariales : {{ obj.salary_cost }} €</span>
    </div>
    <div class="box" id="box6">
        <table  class="styled">
            <caption><h3>A déclarer</h3></caption>
            <tbody>
                <tr>
                    <td><strong>Salaire</strong></td>
                <td>{{ obj.net_salary_to_declare }} €</td>
                </tr>
                <tr>
                    <td><strong>Indemnité Entretien</strong></td>
                    <td>{{ obj.IE_cost_to_declare }} €</td>
                </tr>
                <tr>
                    <td><strong>Repas</strong></td>
                    <td>{{ obj.meal_cost_to_declare }} €</td>
                </tr>
                <tr>
                    <td><strong>Goûters</strong></td>
                    <td>{{ obj.snack_cost_to_declare }} €</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box" id="box7">
        <span>Total (salaire + Indemnité Entretien + Repas + Goûters) : {{ obj.total }} € x {{cost.div}}</span>
        <h3>Virement MAM salaire + IE + repas + goûters : {{ obj.transfert }} €</h3>
    </div>
</main>
{% endblock %}
