{% block content %}
<h1>Détails du coût {{ obj.name }}</h1>
<ul>
    <li>Indemnité Entretien : {{ obj.IE }} €</li>
    <li>repas : {{ obj.meal }} €</li>
    <li>goûter : {{ obj.snack }} €</li>
    <li>congés payés : {{ obj.paid_leave }} %</li>
    <li>congés payés fraction supplémentaire : {{ obj.paid_leave_supp_frac }} % (salaire du mois {{obj.paid_leave_supp_frac_month_name}} uniquement)</li>
    <li>CSG + RDS : {{ obj.csg_rds }} %</li>
    <li>CSG déductible : {{ obj.csg_ded }} %</li>
    <li>vieillesse 1 : {{ obj.old1 }} %</li>
    <li>vieillesse 2 : {{ obj.old2 }} %</li>
    <li>AGFF : {{ obj.agff }} %</li>
    <li>retraite complémentaire : {{obj.supplementary_pension }} %</li>
    <li>prévoyance : {{obj.personal_protection }} %</li>
    <li>facteur cotisations : {{ obj.frac_factor  }}</li>
    <li>facteur division : {{ obj.div }}</li>
</ul>
{% endblock %}