{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'nav.js' %}"></script>
</header>
<nav>
    <div class="container">
        <div class="column">
            <h1 style="color: royalblue;font-size: 3em;text-align: center;">MAM Pom' de reinette</h1>
            <p><strong>Utilisateur:</strong> {{ request.user.username }} <a href="{% url 'logout' %}">[déconnexion]</a></p><br>
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div><br><br>
            <ul id="menu">
                <li><a href="{% url 'cost_list' %}">Coûts</a></li>
                <li><a href="{% url 'pricing_list' %}">Tarifications horaires</a></li>
                <li><a href="{% url 'contract_list' %}">Contrats</a></li>
                <li><a href="{% url 'month_list' %}">Mois</a></li>
                <li><a href="{% url 'summary_list' %}">Cumuls mensuels</a></li>
                <li><a href="{% url 'contractend_list' %}">Fin de contrats</a></li>
            </ul>
        </div>
        <div class="column">    
            <img src="{% static 'logo.jpg' %}" alt="logo MAM pom'de reinette" height="280px" width="280px">
        </div>
    </div><br><br>
</nav>
<main>
    <div class="container">
        <div id="list" style="width:25%;">
            {% block list %}{% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</main>
